<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>API_KEY</key>
        <string>AIzaSyD5ET6BCrMp8UYHpSE-LT3QhoT57aKYN6c</string>
        <key>GCM_SENDER_ID</key>
        <string>18126552888</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.siteflow.signature</string>
        <key>PROJECT_ID</key>
        <string>siteflow-cdo</string>
        <key>STORAGE_BUCKET</key>
        <string>siteflow-cdo.firebasestorage.app</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:18126552888:ios:7d4e0c60511cf00c868bcd</string>
    </dict>
</plist>